*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: F1-black;
    src: url('../assets/fonts/Formula1-Black.ttf');
}
@font-face {
    font-family: F1-Bold;
    src: url('../assets/fonts/Formula1-Bold.ttf');
}
@font-face {
    font-family: F1-regular;
    src: url('../assets/fonts/Formula1-Regular.ttf');
}
@font-face {
    font-family: F1-Wide;
    src: url('../assets/fonts/Formula1-Wide.ttf');
}


html{
    font-size: 62.5%;
    font-family: F1-regular;
}
h1{
    font-family: F1-Wide;
    font-weight: 100;
    font-size: 1.8rem;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    /* gradiante del proyecto */
    /* background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    /* gradiante personal */
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    

}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    
}

.main-container {
    width: 100%;
    height: auto;
    min-width: 320px;
}
.f1-standing-container{
    
    width: 100%;
    height: 150px;
    background-image: url('../assets/imgs/bg@2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
.f1-standing-title {
    margin-top: 50px;
    font-size: 2rem;    
    font-family: F1-Wide;      
    color: aliceblue;
}
.f1-standing-container {
    
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 80px;
    text-align: center;
}

.top-podium {
    padding-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    
}
.driver-fl-bg--white {
    height: 110px;
    width: 80%;
    margin: 0 auto;
    max-width: 385px;
    background-color: aliceblue;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
    align-self: center;
    
    display: inline-flex;
    justify-content:flex-start;
    
    
}
.driver-fl-bg--white .logo-top-scuderia{

    width: 50px;
    height: 90px;
    padding-top: 20px;
    margin: 0 auto;
}

.driver-top-podium {
    position: relative;
 width: 250px;
 height: 200px;
 bottom: 90px;
 right: 40px;
   
}
.main-f1-standind--table-container {
    width: 90%;
    min-width: 320px;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    
}

.f1-standind--grid-container {
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 95%;
    grid-auto-rows: 50px;
    gap: 2px;
    justify-content: center;
    
    
    
    
}

.f1-standind--table-driver{
    /* margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 8px;
    font-family: F1-black;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 10px 100px 120px 10px;
    grid-template-rows: 40px;
    gap: 5px;
    place-content: center;
    align-items: center;
     */
    
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 5px 10px;
    background-color: white;
}


.f1-standind--rank{
    position: relative;
    top: 1px;
    text-align: center;
    width: 20px;
    font-size: 1.4rem;
    font-family: F1-bold;
}

.f1-standind--team-color {
    
    width: 4px;
    height: 14px;
    margin: 0 10px;
}
.team-color-ferrari {
    background-color: red;
}

.team-color-redbul {
    background-color: blue;
}

.f1standind--surname {
    font-family: F1-bold;
    top: 1px;
    text-align: left;
    width: 110px;
    justify-self:center;
    font-size: 1.4rem;
}

.f1-standind--pts {
    
    font-size: 1rem;
    background-color: #dfd7d7;
    width: 70px;
    height: 20px;
    margin: 0 auto;
    padding-top: 4px;
    border-radius: 10px;
    margin-right: 0px;

}

.f1-stantind--icon{
    width: 35px;
    font-size: 1.8rem;
    color: red;
}

.f1-standind--botton-full-standings {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 8px;
    color: white;
    border: red;
}

.f1-standind--botton-full-standings:hover {

    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: white;    
    border-radius: 8px;
    color: black;
    border: 2px solid red;
    

}

.main-news-container {
    width: 100%;
    height: auto;
}

.new-contaier {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.new-contaier img {
    width: 90%;
}