*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: F1-black;
    src: url('../assets/fonts/Formula1-Black.ttf');
}
@font-face {
    font-family: F1-Bold;
    src: url('../assets/fonts/Formula1-Bold.ttf');
}
@font-face {
    font-family: F1-regular;
    src: url('../assets/fonts/Formula1-Regular.ttf');
}
@font-face {
    font-family: F1-Wide;
    src: url('../assets/fonts/Formula1-Wide.ttf');
}
html{
    font-size: 62.5%;
}
h1{
    font-family: F1-Wide;
    font-weight: 100;
    font-size: 1.8rem;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    /* gradiante del proyecto */
    /* background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
    /* gradiante personal */
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    

}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
    
}

.main-container {
    width: 100%;
    height: auto;
    min-width: 320px;
}

.f1-standing-container {

    width: 100%;
    height: auto;
    background-image: url('../assets/imgs/bg@2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.f1-standing-title {
    padding-top: 30px;
    font-family: F1-Wide;
    font-size: 1.6rem;
    color: white;
    text-align: center;
}

.top-podium {
    width: 100%;
    position: relative;
    height: auto;
    
}

.driver-fl-bg--white {
    width: 90%;
    min-width: 288px;
    max-width: 385px;
    min-height: 150px;
    margin: 15px auto;
    height: 150px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    
    
}
/* .driver-fl-bg--white .left{
    display: flex;
}

.driver-fl-bg--white .right{
    display: flex;
} */

.driver-img-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    position: relative;
}
.driver-fl-bg--white .left{
   background-color: blueviolet;
}

.driver-fl-bg--white .left img {
    width: 50px;
}

.driver-fl-bg--white .right {
   position: relative;
   
}

.driver-first  {
    position: absolute;
    width: 200px;
    height: 100px;
    top:-15;
    background-image: url('../assets/imgs/leclerc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
    border-radius: 8px;
    
    
    
}


